/* ==============================================
   FEUILLE DE STYLES DES GABARITS HTML/CSS --- 02
   © Elephorm & Alsacreations.com
   Conditions d'utilisation:
   http://creativecommons.org/licenses/by/2.0/fr/
   ============================================== */


/* --- COULEURS --- */

/* Note: vous pouvez modifier simplement l'aspect de ce gabarit en modifiant
   uniquement les couleurs de fond (propriétés background) et les couleurs
   du texte (propriété color).
   Pour modifier la disposition des blocs, voir plus bas dans la feuille de
   styles la partie «positionnement». */

/* Général */

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #428bca;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
*::-moz-selection {
	background:rgba(151, 182, 55, 0.4) none repeat scroll 0 0;
	color:white;
}

body {
	color: #FFFFFF;
	margin:0;
	padding:0;
	background: url(../img/earth_golf.jpg) no-repeat center fixed; 
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
}
a {
	color: #FF6533;
}
a:hover, a:focus {
	color: #FF4C00;
}
strong {
	color: #A1B55D;
}
h1,h2 {
	text-shadow: 0px 0px 9px #000000;
}

/* Navigation */
#navigation {
	/*background: #1F61AB;*/
	background: rgba(31, 97, 171, 0.8);
}

#navigation a {
	color: #FFFFFF;
}
#navigation a:hover, #navigation a:focus {
	/*background: #000000;
	color : #68811C;*/
	text-shadow: 0px 0px 5px #FFFFFF;
}

/* Contenu principal */
#contenu {
	color: #363B29;
	background: rgba(108, 171, 212, 0.8);
	border: 3px solid white;
	/**/
}
#contenu a {
	color: #FFFFFF;
}
#contenu a:hover, #contenu a:focus {
	color: #68811C;
	text-shadow: 0px 0px 9px #FFFFFF;
}
#contenu strong {
	color: #181A12;
}

/* Pied de page */
#pied {
	color: #FFFFFF;
	background: rgba(31, 97, 171, 0.8);
}
#pied a {
	color: #ffffff;
	text-decoration: none;
}
#pied a:hover {
	color: #68811C;
	text-decoration: underline;
	text-shadow: 0px 0px 0px #FFFFFF;

}

/* --- POSITIONNEMENT --- */

/* Page */
body {
	padding: 15px 0 25px 0;
}
#global {
	width: 750px;
	margin-left: auto;/* 20px */
	margin-right: auto; /* Voir -> Note 1 ci-dessous */

}

/* En-tête */
#entete {
	padding: 15px 20px 10px 0;
}
#entete h1 {
	margin: 0;
}
#entete h1 img {
	float: left;
	margin: 7px 20px 10px 0;
}
#entete .sous-titre {
	margin: 4px 0 15px 0;
}

/* Menu de navigation */
#navigation {
	padding: 12px 15px;
}
#navigation ul {
	width: 100%; /* -> 2 */
	overflow: hidden; /* -> 2 */
	margin: 0;
	padding: 0;
	list-style: none;
}
#navigation li{

	display: inline;
}
#navigation li.gauche {
	/*float: left; /* -> 3 */
	margin-right: 10px;
	font-size: 1.4em;
	font-style: italic;
}
#navigation li.droite {
	/*float: right; /* -> 3 */
	margin-right: 0;
	margin-left: 10px;
	padding: 3px 0;
}
#navigation a {
	padding: 6px;
	line-height: 1.5;
	font-size: .9em;
	text-decoration: none;
}

/* Contenu */
#contenu {
	padding: 10px 20px;
}
#contenu > :first-child {
	margin-top: 10px;
}
#contenu p, #contenu li {
	line-height: 1.5;
}

/* Pied de page */
#pied {
	padding: 15px 20px;
	font-size: .85em;
}
#pied p {
	margin: .5em 0;
}
#copyright {
	text-align: left;
	font-size: 1em;
}


/* --- NOTES ---

1.	Le conteneur a une largeur fixe (750px), une marge à gauche de 20px pour
	créer un retrait esthétique, et un margin-right qui a pour valeur "auto".
	Ce dernier point n'est pas nécessaire pour placer le conteneur à gauche
	de la page; ce sera en effet le comportement «normal» de tout bloc.
	Si on souhaite placer ce conteneur à droite, par contre, on pourra utiliser
	un margin-left avec la valeur "auto", et un margin-right à 20px (ou zéro,
	ou autre valeur autre que "auto").

2.	On utilise ici la déclaration "overflow: hidden" pour empêcher le
	dépassement des éléments flottants. On utilise aussi un "width: 100%" pour
	corriger le même problème... dans Internet Explorer 6, qui n'appliquera
	pas correctement le "overflow: hidden".
	En savoir plus sur ce sujet:
	http://web.covertprestige.info/test/
		03-elements-flottants-et-element-parent-1.html

3.	Dans le gabarit 01, nous utilisions "display: inline" pour placer les
	différents items du menu à l'horizontale. Ici, on va utiliser une autre
	possibilité: la propriété CSS "float".
	Quels sont les avantages de la propriété "float"? Eh bien, on va pouvoir
	placer une partie des items du menu à gauche, et une autre partie à droite,
	ce qui est utile quand on veut réaliser un menu avec des éléments
	d'importance diverse (on mettra alors les éléments les plus importants à
	gauche, et les éléments secondaires à droite).
	Contrairement à des éléments en "display: inline", nous pouvons donner une
	largeur fixe à nos LI. Nous pouvons aussi jouer plus facilement sur la
	hauteur des LI, que ce soit via la propriété "padding" ou la propriété
	"height".
	Par contre, on ne pourra pas centrer horizontalement des éléments
	flottants. Si on doit centrer les éléments d'un menu, on utilisera
	plutôt "display: inline".

*/
